@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 3px;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: 'Montserrat', 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #f1f1f1;
}

body {
    display: flex;
    flex-direction: column;
}

.nav2 a{
    text-decoration: none;
}

section {
    display: -webkit-flex;
    display: flex;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 80px;
}

header {
    background-color: #212529;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

article p {
    text-align: justify;
    font-size: 19px;
}

article h1 {
    text-align: center;
}

article li {
    font-weight: bold;
    font-size: 25px;
    list-style: none;
}

article a {
    text-decoration: none;
    color: black;
}

article a:hover {
    text-decoration: underline;
}

.container-opniao{
    display: flex;
    justify-content: space-around;
    flex: 1;
}
.opniao{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.247);
    height: 500px;
    flex: 0 1 450px;
    flex-flow: row wrap;
    border-radius: 10px;
    margin: 30px;
    background-color: #f0f0f0;
    position: relative;
}

.opniao h2{
    font-size: 38px;
    text-align: center;
    top: 20%;
    position: absolute;
}

.opniao p{
    font-weight: 600;
    text-align: center;
    top: 80%;
    position: absolute;
}

.opniao a{
    color: black;
}

.texto-formulario{
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.247);
    height: 500px;
    flex: 0 1 450px;
    flex-flow: row wrap;
    border-radius: 10px;
    margin: 30px;
    background-color: #f0f0f0;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-formulario h3{
    font-size: 36px;
    text-align: center;
}

form input{
    margin: 15px;
    display: block;
    border-radius: 7px;
    border: 1px solid black;
}


.footer {
    background-color: #212529;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.pagination{
    display: flex;
    justify-content: center;
    width: 100%;
}

.page-item {
    flex: 0 1 60px;
    transition: all 0.2s ;
    font-weight: 500;
}

.page-item:hover{
    translate: 0 -5px;
}

.page-link:hover{
    background-color: #212529;
    color: white;
}

.page-link{
    color: #212529;
}

#item-1{
    flex: 0 0 150px;
}
#item-5{
    flex: 0 0 150px;
}


.img1 {
    display: flex;
    justify-content: center;
    
}

.imgp,
.imgp1,
.imgp2 {
    text-align: center;
}

* h1 {
    justify-content:center ;
    display: flex;
}

.nav2 {
    color: white;
    background-color: #212529;
    text-align: center;
    height: 70px;
    font-size: large;
}

.nav2 a {
    color: rgb(255, 255, 255);
}

.nav2 a:hover{
    text-decoration: underline;
}

.form-control{
    margin-bottom: 10px;
    border: 1px solid black;
}

.figure-caption{
    text-align: center;
    font-size: 15px;
}

@media(width < 1093px){
    .page-item{
        flex: 0 1 auto;
    }

    #item-1{
        flex: 0 1 auto;
    }
    #item-5{
        flex: 0 1 auto;
    }
}

@media (width <= 1110px) {
    .navbar{
        display: flex;
    }

    ul{
        flex-flow: row wrap;
    }
}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    @media only screen and (max-width: 768px) {
        .prox
         {
            width: 80%;
        }
    }
}

@media (width < 730px){
    .nav2{
        height: 400px;
        display: flex;
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 710px) {
    .imgp2,
    .imgp1,
    .imgp,
    .img1 {
        width: 99%;
    }

    @media screen and (max-width: 570px) {
        .imgp2,
        .imgp1,
        .imgp,
        .img1 {
            width: 99%;
        }
    }
}
.breadcrumb{
    display: flex;
    justify-content: center;

}
.btn-primary{

    background-color: white;
    border: none;
    font-weight: 500;
    color: black;
    
}
.btn-primary:hover{
    background-color: #212529;
}

.btn-primary:active{
	background-color: #212529 !important;
} 
