@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 3px;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    font-family: 'Montserrat', 'Arial';
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #f1f1f1;
}
.navbar{
    position: fixed;
    z-index: 999;
    height: auto;
    top: 0;
    width: 100%;
    align-items: center;
    display: flex;
}
header {
    background-color: #212529;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-flow: row wrap;
}


.badge{
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    flex: 1 1 40px !important;
}

article {
    background-color: #f1f1f1;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    padding-bottom: 50px;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #212529;
    color: white;
    width: 100%;
    padding-top: 15px;
    margin: 0;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}

footer li{
    list-style: none;
}

.by{
    text-align: center;
    padding: 10px;
    display: block;
}

.container p {
    font-size: 20px;
}

.container h1 {
    text-align: center;
}
.card {
    width: 18rem;
    height: 100%;
}
.card-body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;
}

.btn-bottom {
    margin-top: auto;
}
.div-imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-block{
    height: 400px;
    width: max-content;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon {
    filter: brightness(0) saturate(100%) invert(13%) sepia(8%) saturate(846%) hue-rotate(169deg) brightness(93%) contrast(94%);
}

.carousel-caption{
    background-color: rgba(0, 0, 0, 0.267);
    width: max-content;
    margin: auto;
    border-radius: 5px;
    font-family: 'Roboto';
}

.carousel-caption h5, 
.carousel-caption p{
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.list-group-item{
    background-color: #212529;
    color: white;
    border: none;
    transition: all 0.1s ease-in-out;
    border-radius: 4px;
}

.list-group a:hover{
    border-radius: 4px;
}

@media (width < 1402px){
    header{
        justify-content: center;
        align-items: flex-end;
    }
}

@media(width < 1162px){
    header{
        height: 250px;
        align-items: flex-end;
    }
}

@media (width <= 1110px) {
    .navbar{
        display: flex;
    }

    ul{
        flex-flow: row wrap;
    }

}

@media (width < 995px){
    .carousel-control-prev-icon, 
    .carousel-control-next-icon {
        filter: brightness(0) saturate(100%) invert(100%) sepia(2%) saturate(26%) hue-rotate(314deg) brightness(106%) contrast(102%);
    }
}

@media (max-width: 600px) {
    nav {
        width: 100%;
        height: auto;
    }

    #carouselExample{
        display: none;
    }

}

@media (width < 650px){
    .badge{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3{
        flex:  0 1 30px;
    }
}

@media(width < 475px){
    h3{
        font-size: 1em;
    }
}
.list-group-item{

    background-color: #212529;
    color: white;
    border: none;
}
.breadcrumb{
    display: flex;
    justify-content: center;

}
.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
  }
.toast{
    z-index: 20000 !important;
    position: absolute;
}
  

